
*.pyc
src/services/config.ini
**/__pycache__/
venv/
output_excel/
src/ocr_files/*.txt
src/ocr_files/*.png
src/pdf_files/**/*.txt
src/pdf_files/**/*.png
src/pdf_files/**/*.pdf


# Ignore entire poppler directory and its contents
src/poppler/
src/config/config.ini
*.json
